<div class="container espacioLogin">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="font-weight-bold">Registrar Equipo</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">
                        Registra el nombre de tu equipo y el de los jugadores. Si hay menores de edad en el equipo, el mismo equipo tiene que hacerse responsable por los mismos. No todos los campos de nombres tienen que ser llenados.
                    </p>
                    <form>
                        <div class="mb-3">
                            <label for="teamName" class="form-label">Nombre del equipo</label>
                            <input type="text" class="form-control" id="teamName" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Nombre de los jugadores</label>
                            <input type="text" class="form-control mb-2" placeholder="Jugador 1">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 2">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 3">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 4">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 5">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 6">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 7">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 8">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 9">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 10">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 11">
                            <input type="text" class="form-control mb-2" placeholder="Jugador 12">
                        </div>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
