<div class="container  espacioLogin">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="font-weight-bold">¡Crea tu equipo!</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">
                        Nuestra dinámica de equipos fue diseñada para fomentar el espíritu competitivo y la camaradería entre nuestros clientes. En el corazón de esta iniciativa está la idea de organizar un torneo interno, donde diferentes equipos competirán por el título del campeonato en nuestras canchas. Este torneo sería supervisado y dirigido por nuestro equipo de administración de canchas, asegurándonos de que todo se desarrolle sin problemas y sea una experiencia emocionante y memorable para todos los participantes.
                    </p>
                    <p class="text-center">
                       El torneo se maneja de forma fisica, y las fechas se anunciarán por nuestras redes sociales. Nos complace anunciar que puedes registrar tu propio equipo en nuestras instalaciones, creando un sentido de identidad y pertenencia incluso antes de que comience cualquier competición oficial.
                    </p>
                    <p class="text-center">
                        Lo más emocionante de este registro de equipos es la capacidad de incluir hasta 12 jugadores en tu equipo. Así es, puedes formar un equipo con tus amigos, compañeros de trabajo o familiares, dándole a cada uno un lugar en la lista de tu equipo. Cada jugador registrado con tu equipo recibirá reconocimiento, creando un verdadero sentido de equipo y preparándote para la competición futura.
                    </p>
                    <p class="text-center">
                        Estamos entusiasmados con la perspectiva de dar vida a esta dinámica de equipos en el futuro y te animamos a que empieces a pensar en tu formación de equipo ahora mismo. ¡Prepárate para el juego, el campo te espera!
                    </p>
                </div>
                <a class="btn btn-primary btn-xl text-uppercase" style="margin: 0px 20px 20px 20px;" href="/equipos/equiposForm">Registra tu equipo!</a>
            </div>
        </div>
    </div>
</div>
