<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/lib/images/1570231150178.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/lib/images/410708_lascanchas.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/lib/images/Cancha-de-fútbol-11.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Canchas</h2>
            <h3 class="section-subheading text-muted">Disfruta de las mejores canchas sinteticas de Costa Rica</h3>
        </div>
        <div class="row text-center">
            <div class="col">
                <a href="#"><img class="tamaño-img" src="~/lib/images/1570231150178.jpg" /></a>
                <h4 class="my-3">Fútbol 5</h4>
                <p class="text-muted">Alquila tu Cancha para Fútbol 5.</p>
                <a class="btn btn-primary btn-xl text-uppercase" href="/canchas/CanchasForm">Alquilar</a>
            </div>
            <div class="col">
                <a href="#"><img class="tamaño-img alt-img" src="~/lib/images/Cancha-de-fútbol-11.jpg" /></a>
                <h4 class="my-3">Fútbol 9</h4>
                <p class="text-muted">Alquila tu Cancha para Fútbol 9.</p>
                <a class="btn btn-primary btn-xl text-uppercase" href="/canchas/canchasForm">Alquilar</a>
            </div>
        </div>
    </div>
</section>