@{
    ViewData["Title"] = "Login";
}



<h2 class="espacioLogin">Iniciar Sesión</h2>

<form method="post">
    <div class="mb-3">
        <label for="Email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="Email" name="Email">
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="Password">
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>
<a href="/usuarios/registro">Olvidé mi contraseña</a>

<p>¿No tienes una cuenta?  <a href="/usuarios/registro">Registrarse</a></p>
