<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Perfil del Usuario</h1>
            <h2>Bienvenido, Nombre de Usuario</h2>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-md-6">
            <h3>Información del Cliente</h3>
            <ul>
                <li>Nombre: </li>
                <li>Email: </li>
                <li>Teléfono: </li>
            </ul>
        </div>
    </div>

    <div class="row mt-5 justify-content-center">
        <div class="col-md-6 d-flex justify-content-around">
            <h3>Opciones</h3>
            <button class="btn btn-primary" href="/usuario/editarPerfil">Editar perfil</button>
            <button class="btn btn-primary" href="/equipos/editarEquipo">Editar equipo</button>
            <button class="btn btn-primary" href="/canchas/editarReserva">Editar reserva</button>
        </div>
    </div>
</div>
