
<h2 class="espacioLogin">Registro</h2>
<form method="post">
    <div class="mb-3">
        <label for="Nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="Nombre" name="Nombre">
    </div>
    <div class="mb-3">
        <label for="Apellidos" class="form-label">Apellidos</label>
        <input type="text" class="form-control" id="Apellidos" name="Apellidos">
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Correo Electrónico</label>
        <input type="email" class="form-control" id="Email" name="Email">
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="Password">
    </div>
    <div class="mb-3">
        <input type="hidden" id="rol" name="rol" value="1">
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>

<p>¿Ya tienes una cuenta?  <a href="/usuarios/login">Iniciar Sesión</a></p>