@page
@model IndexModel
@{
    
}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Canchas sinteticas de futbol 5 o futbol 9</div>
        <div class="masthead-heading text-uppercase">Ven a jugar hoy!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="/canchas/canchas">Alquilar</a>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Servicios</h2>
            <h3 class="section-subheading text-muted">Disfruta de las mejores canchas sinteticas de Costa Rica</h3>
        </div>
        <div class="row text-center">
            <div class="col">
                <a href="#"><img class="tamaño-img" src="~/lib/images/1570231150178.jpg" /></a>
                <h4 class="my-3">Canchas</h4>
                <p class="text-muted">Tenemos dos canchas disponibles para alquilar, ambas para multifuncionales.</p>
                <a class="btn btn-primary btn-xl text-uppercase" href="/canchas/canchas">Alquilar</a>
            </div>
            <div class="col">
                <a href="#"><img class="tamaño-img alt-img" src="~/lib/images/fotoEquipo.jpg" /></a>
                <h4 class="my-3">Equipos</h4>
                <p class="text-muted">Recuerda que con tu usuario puedes registrar a tu equipo para torneos internos!</p>
                <a class="btn btn-primary btn-xl text-uppercase" href="/equipos/equipos">Crea tu equipo</a>
            </div>
        </div>
    </div>
</section>