

<div class="container py-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Nosotros</h1>
            <p>
                Bienvenidos a Canchas Futboleras, tu lugar de elección para la renta de canchas de fútbol 5 y 9 de la más alta calidad. Nuestra misión es ofrecer a los entusiastas del fútbol un espacio donde puedan practicar su deporte favorito en un ambiente amigable y bien mantenido.
            </p>
            <p>
                Nuestra historia comenzó con un sueño. Desde su infancia, nuestro fundador y dueño, siempre tuvo un amor por el fútbol. Pasó horas innumerables jugando y soñando con tener un lugar donde otros entusiastas del fútbol pudieran reunirse y disfrutar del juego. Con este deseo en su corazón, creó Canchas Futboleras.
            </p>
            <p>
                En Canchas Futboleras, entendemos la pasión que nuestros clientes tienen por el fútbol. Es por eso que nos comprometemos a proporcionar canchas de la más alta calidad, con césped bien mantenido, amplios vestuarios y todas las facilidades necesarias para una excelente experiencia de fútbol.
            </p>
            <p>
                Te invitamos a formar parte de nuestra comunidad de amantes del fútbol y a experimentar por ti mismo la calidad y el servicio excepcional que nos distingue.
            </p>
        </div>

    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h2>Contáctanos</h2>
            <p>
                Si tienes alguna pregunta, comentario o sugerencia, nos encantaría saber de ti. En Canchas Futboleras, valoramos la opinión de nuestros clientes y siempre estamos buscando formas de mejorar nuestro servicio.
            </p>

            <div class="contact-info">
                <h3>Número de Teléfono</h3>
                <p>+1234567890</p>
                <h3>Correo Electrónico</h3>
                <p>info@canchasfutboleras.com</p>
            </div>
            <p>
                Estamos deseando ayudarte y te responderemos tan pronto como sea posible.
            </p>
            <p>
                ¡Gracias por elegir Canchas Futboleras!
            </p>
        </div>

    </div>
</div>